<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="kid-info.properties"></context:property-placeholder>

<!--    <bean id="kidbean" class="com.springmodules.value_required.Kid">
    <constructor-arg name="name" value="Meepo" type="java.lang.String"></constructor-arg>
    <constructor-arg name="age" value="1" type="int"></constructor-arg>
    <constructor-arg name="hobby" value="1" type="java.lang.String"></constructor-arg>
    </bean>-->

    <context:annotation-config></context:annotation-config>
    <bean id="kidbean" class="com.springmodules.value_required.Kid">
        <!-- Reading the property from kid-info.properties -->
<!--        <property name="name" value="${kid.name}"></property>   -->
<!--        <property name="age" value="${kid.age}"></property>     -->
<!--        <property name="hobby" value="${kid.hobby}"></property> -->
    </bean>


    <!-- Apply annotation config -->
    <!--<context:annotation-config></context:annotation-config>

    <bean id="humanHeart" class="com.springmodules.autowired_qualifier.Heart">
        <property name="organism" value="human"></property>
        <property name="numOfHeart" value="1"></property>
    </bean>
    <bean id="octpousHeart" class="com.springmodules.autowired_qualifier.Heart">
        <property name="organism" value="octpous"></property>
        <property name="numOfHeart" value="3"></property>
    </bean>
    <bean id="human" class="com.springmodules.autowired_qualifier.Human"></bean>-->

    <!-- configuring autowire in the xml file -->
    <!-- <bean id="human" class="com.springmodules.autowired_qualifier.Human" autowire="byName"></bean> -->

    <!-- com.springmodules.injectingobjects -->
    <!--<bean id="longBatteryBean"  class="com.springmodules.injectingobjects.LongBatteryRange"></bean>
    <bean id="shortBatteryBean"  class="com.springmodules.injectingobjects.ShortBatteryRange"></bean>

    <bean id="tesla" class="com.springmodules.injectingobjects.Tesla">
        <property name="teslaId" value="1"></property>
        &lt;!&ndash; using 'ref' tag to avoid duplication in bean creation &ndash;&gt;
        <property name="battery" ref="longBatteryBean"/>
    </bean>

    <bean id="rivian" class="com.springmodules.injectingobjects.Rivian">
        &lt;!&ndash; using 'ref' tag to avoid duplication in bean creation &ndash;&gt;
        <property name="battery" ref="shortBatteryBean"/>
    </bean>

    <bean id="lucid" class="com.springmodules.injectingobjects.Lucid">
        &lt;!&ndash; using 'ref' tag to avoid duplication in bean creation &ndash;&gt;
        <property name="battery" ref="longBatteryBean"/>
    </bean>-->

    <!--<bean id="verizon" class="com.springmodules.ioc.Verizon"></bean>
    <bean id="att" class="com.springmodules.ioc.Att"></bean>-->

    <!-- using a setter injection -->
    <!--<bean id="student" class="com.springmodules.di.Student">
        <property name="studentName" value="Meepo"></property>
        <property name="studentId" value="1"></property>
    </bean>-->

    <!-- using a construction injection -->
    <!--<bean id="student" class="com.springmodules.di.Student">
        <constructor-arg name="studentName" value="Meepo" type="java.lang.String"></constructor-arg>
        <constructor-arg name="studentId" value="1" type="int"></constructor-arg>
    </bean>-->

</beans>